    <section class="cta pure-g">
        <div id="cta-form" class="pure-u-1 pure-u-md-1-2" style="float:right">
            <div class="wrapper">
                <div class="form-container">
                    <h3 class="pure-u-1">Do you love the Barn?</h3> 
                    <h3 class="pure-u-1">Now get <strong><em>ALL</em></strong> the deals!</h3>
                    <div class="benefits pure-u-1">
                        <p>Join others who recieve our monthly newsletter and get:</p>
                        <p>- Exclusive previews of our best new items</p>
                        <p>- Coupons for even bigger bargains</p>
                        <p>- Special chances to preorder items <em>(coming soon!)</em></p>
                    </div>
                    {% include signup.html %}
                </div>
            </div>
        </div>
        <div id="cta-info" class="pure-u-1 pure-u-md-1-2" style="float: left;">
            <div class="wrapper">
                <h2>2015 Sale Dates</h2>
                <ul class="sale-dates">
                    <li class="past-sale special-sale">Friday, May 8th – Preview Sale</li>
                    <li class="past-sale">Saturday, May 9th – 8am-noon</li>
                    <li class="past-sale special-sale">Thursday, May 28th – 5-8pm</li>
                    <li class="past-sale">Saturday, June 13th – 8am-noon</li>
                    <li class="next-sale">Saturday, July 11th – 8am-noon</li>
                    <li>Saturday, Aug. 8th – 8am-noon</li>
                    <li class="special-sale">Thursday, Aug. 27th – 5-8pm</li>
                    <li>Saturday, Sep. 12th – 8am-noon</li>
                    <li>Saturday, Oct. 10th – 8am-noon</li>
                </ul>
            </div>
        </div>
        <div id="cta-map" class="pure-u-1">
            <div class="wrapper">
                <h2>Directions</h2>
                    
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12203.35682882633!2d-75.22544780383676!3d40.12358667644862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6bba6a2e5d489%3A0xdc6097b70a56b41f!2sBethlehem+Pike+%26+Camp+Hill+Rd+%26+E+Skippack+Pike%2C+Whitemarsh%2C+PA+19034!5e0!3m2!1sen!2sus!4v1435217737650" class="map" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                <address><span class="no-break">Bethlehem Pike & Camphill Road,</span> <span class="no-break">Fort Washington, PA 19034</span></address>
            </div>
        </div>
    </section> 