<footer class="site-footer wrapper">
<form class="pure-g footer-signup">
        <div class="wrapper">
            <h2 class="pure-u-1">So <em>now</em> do you love the Barn?</h2> 
            <input type="email" class="pure-u-16-24" placeholder="Your email"/>
            <input type="submit" class="pure-u-8-24 button" value="GET THE DEALS!" />
        </div>
    </form>
    <div id="buttons" class="pure-g">
        <div class="pure-u-1 pure-u-md-8-24"><a id="donate-modal" class="button">DONATE!</a></div>
        <div class="pure-u-1 pure-u-md-8-24"><a id="volunteer-modal" class="button">VOLUNTEER!</a></div>
        <div class="pure-u-1 pure-u-md-8-24"><a id="contact-modal" class="button">CONTACT!</a></div>
    </buttons>
</footer>