<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <!--Facebook OG Metadata-->
        <meta property="og:title" content="The next Barn Sale is August 8!">
        <meta property="og:description" content="Come and get amazing deals on clothing, books, jewelry, furniture, records, toys, housewares, art, and more! It's the best rummage sale you'll find and all proceeds go to charity.">
        <meta property="og:determiner" content="the">
        <meta property="og:site_name" content="The Barn Sale">
        <meta property="og:url" content="http://thebarn.sale">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://thebarn.sale/images/cinderella-1.png">
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="500" />

  <!--Twitter Card Metadata-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="http://thebarn.sale">
        <meta name="twitter:site" content="@TheBarnSTW">
        <meta name="twitter:creator" content="@punxyp">
        <meta name="twitter:title" content="The next Barn Sale is August 8!">
        <meta name="twitter:description" content="Come and get amazing deals on clothing, books, jewelry, furniture, records, toys, housewares, art, and more! It's the best rummage sale you'll find and all proceeds go to charity.">
        <meta name="twitter:image:src" content="http://thebarn.sale/images/cinderella-1.png">
</head>