<header class="site-header wrapper">
    <h1 id="site-title">The Barn Sale!</h1>
    <h2>Next Sale: July 11, 8am-Noon</h2>
    <address><span class="no-break">Bethlehem Pike & Camphill Road,</span> <span class="no-break">Fort Washington, PA 19034</span></address>
    <div id="social-media">
	<div class="fb-share-button" data-href="http://thebarn.sale" data-layout="button" alt="Share on Facebook"></div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="TheBarnSTW" data-count="none">Tweet</a>
    </div>
</header> 