<section class="product-grid pure-g">
        <div class="wrapper pure-u-1">
            <h2 class="pure-u-1">What you'll find at <span class="no-break">The Barn</span></h2>
        </div>
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/cinderella-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                </div>
                <h2>Cinderella</h2>
                <p>Linens, fabric, maternity, and clothing and shoes for men, women, juniors and children</p>
            </div>
        </article>
        
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/topshop-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                </div>
                <h2>Top Shop</h2>
                <p>Higher end brands (Ann Taylor, Tory Burch, Lilly Pulitzer, Polo, etc.) for women and children.</p>
            </div>
        </article>
        
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/bricabrac-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                    <h2>Bric-a-Brac</h2>
                    <p>Dishes, china, crystal, lamps, holiday decorations, baskets, framed art, holiday items, and more.</p>
                </div>
            </div>
        </article>
        
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/books-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                    <h2>Books</h2>
                    <p>Hundreds of books from classics to sci-fi, cookbooks, travel, biography, religious, poetry, etc!</p>
                </div>
            </div>
        </article>
    </section>
    
    <div class="clearfix"></div>
    <h2 class="expand-tab pure-u-1"><a class="button">Show More!</a></h2>
    
    <section class="hide product-grid pure-g">
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/jewelry-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                    <h2>Jewelry</h2>
                    <p>An array of costume, better pieces and an amazing selection of scarves.</p>
                </div>
            </div>
        </article>
        
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/furniture-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                    <h2>Furniture</h2>
                    <p>Small furniture items such as dressers, end tables, small upholstered chairs, rugs and more.</p>
                </div>
            </div>
        </article>
        
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/toys-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                    <h2>Toys</h2>
                    <p>Your child’s favorite place at the barn!  Bikes, dolls, legos, Playmobile, games, and strollers.</p>
                </div>
            </div>
        </article>
        
        <article class="product pure-u-1 pure-u-sm-12-24 pure-u-lg-6-24">
            <div class="wrapper">
                <div class="slider">
                    <img src="images/jockshop-1.png" class="slider-image"/>
                        <a class="previous-control"><</a>
                        <a class="next-control">></a>
                    <h2>Jock Shop</h2>
                    <p>Find new and used sporting equipment and the best prices in town!</p>
                </div>
            </div>
        </article>
    </section>
