<!--Begin CTCT Sign-Up Form-->
<!-- EFD 1.0.0 [Thu Jul 09 20:56:21 EDT 2015] -->
<!--<link rel='stylesheet' type='text/css' href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
<div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
   <div style="color:#5b5b5b; background-color:#e8e8e8; border-radius:5px;">
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
       <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
           <h2 style="margin:0;">Test</h2>
           <p></p>-->
           <!-- The following code must be included to ensure your sign-up form works properly. -->
           <!--<input data-id="ca:input" name="ca" value="4c574919-cc78-4ba1-ab06-4a7a15a91b24" type="hidden">
           <input data-id="list:input" name="list" value="1625666345" type="hidden">
           <input data-id="source:input" name="source" value="EFD" type="hidden">
           <input data-id="required:input" name="required" value="email" type="hidden">
           <input data-id="url:input" name="url" value="" type="hidden">
           <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">Email Address</label> <input data-id="Email Address:input" name="email" value="" maxlength="80" type="text"></p>
           <p data-id="First Name:p" ><label data-id="First Name:label" data-name="first_name">First Name</label> <input data-id="First Name:input" name="first_name" value="" maxlength="50" type="text"></p>
           <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
       	<div><p class="ctct-form-footer">By submitting this form, you are granting: St Thomas' Church, Whitemarsh, PO Box 247, Fort Washington, Pennsylvania, 19034-0247, United States, http://www.stthomaswhitemarsh.org permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
       </form>
   </div>
</div>
<script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] = 		'This field is required.';
   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] = 			'Please select at least one email list.';
   localizedErrMap['generic'] = 		'This field is invalid.';
   localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
	localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] = 	'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>-->
<!--End CTCT Sign-Up Form-->


    <form data-id="embedded_signup:form" class="ctct-custom-form Form pure-g" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
            <h3 class="pure-u-1">Do you love the Barn?</h3> 
            <h3 class="pure-u-1">Now get <strong><em>ALL</em></strong> the deals!</h3>
            <div class="benefits pure-u-1">
                <p>Join others who recieve our monthly newsletter and get:</p>
                <p>- Exclusive previews of our best new items</p>
                <p>- Coupons for even bigger bargains</p>
                <p>- Special chances to preorder items <em>(coming soon!)</em></p>
            </div>
            <!-- The following code must be included to ensure your sign-up form works properly. -->
            <input data-id="ca:input" name="ca" value="4c574919-cc78-4ba1-ab06-4a7a15a91b24" type="hidden">
            <input data-id="list:input" name="list" value="1625666345" type="hidden">
            <input data-id="source:input" name="source" value="EFD" type="hidden">
            <input data-id="required:input" name="required" value="email" type="hidden">
            <input data-id="url:input" name="url" value="" type="hidden">
            <p data-id="Email Address:p" class="pure-u-16-24"><!--<label data-id="Email Address:label" data-name="email" class="ctct-form-required">Email Address</label>--> <input data-id="Email Address:input" name="email" value="" maxlength="80" type="text" placeholder="Email"></p>
            <p data-id="First Name:p" class="hide"><label data-id="First Name:label" data-name="first_name">First Name</label> <input data-id="First Name:input" name="first_name" value="" maxlength="50" type="text"></p>
            <button type="submit" class="button pure-u-8-24" data-enabled="enabled">Sign Up</button>
            <div class="pure-u-1"><p class="ctct-form-footer">By submitting this form, you are granting: St Thomas' Church, Whitemarsh, PO Box 247, Fort Washington, Pennsylvania, 19034-0247, United States, http://www.stthomaswhitemarsh.org permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
       </form>
       <script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] = 		'This field is required.';
   localizedErrMap['ca'] = 			'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] = 			'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] = 		'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] = 	'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] = 	'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] = 			'Please select at least one email list.';
   localizedErrMap['generic'] = 		'This field is invalid.';
   localizedErrMap['shared'] = 		'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
	localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] = 	'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>